body {
    font-family: "Courier New", Courier, monospace; /* 換個更硬核的字體 */
}

:root {
  --background: #fff0c5;
  --foreground: #eceae5;
  --accent: #06a06a;
  --font-size: 1rem;
  --line-height: 1.54em;
  --radius: 0;
}